.shadow {
	text-shadow: 1px 1px white;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 100px;
}

h1 {
	color: #DB7093;
	text-shadow: 1px 1px black;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

p {
	color: black;
	background-color: #b3daff;
	margin: 20px;
	padding: 10px;
	line-height: 2;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

