body {
    background-color: white;
    background-repeat: no-repeat;
}

.content {
	text-align: center;
	list-style-type: none;
	margin: 20px;
	padding: 10px;
	background-color: #89a2eb;
}

.horiz {
	color: white;
	display: inline;
	padding: 40px 40px;
}