body {
    background-color: white;
    background-repeat: no-repeat;
}

.content {
	text-align: center;
	list-style-type: none;
	margin: 20px;
	padding: 10px;
	background-color: #89a2eb;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

}

.horiz {
	color: white;
	display: inline;
	padding: 40px 40px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #DB7093;
	text-decoration: underline;
}

h1 {
	color: #DB7093;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

p {
	color: white;
	background-color: #89a2eb;
	margin: 20px;
	padding: 10px;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}